@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event-details {
  margin: 0;
  padding: 0;
  // background-color: $primary-color;

  .details-card {
    @include flexCenter();

    .fights {
      @include flexCenter();

      .fight-card {
        @include flexCenter();

        .fight-list {
          @include flexCenter();
          border-bottom: $primary-color 2px solid;
          border-radius: 10px;
          margin: 0;

          .fighters {
            color: $primary-color;

            .fighters-info {
              @include flexCenter();
            }

            h6 {
              width: 80%;
              text-transform: uppercase;
              margin: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .fights {
    flex-direction: row !important;

    .main-card {
      margin-right: 2rem;
    }

    .under-card {
      margin-left: 2rem;
    }
  }
}
