@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-details {
  margin: 0;
  padding: 0;
  // background-color: $primary-color;

  .details-card {
    @include flexCenter();
    flex-direction: column;
    // background-color: #fff;

    .fight-list {
      @include flexCenter();
      border-bottom: $primary-color 2px solid;
      border-radius: 10px;
      flex-direction: column;
      margin: auto;

      .fighters-info {
        display: flex;
        justify-content: space-between;
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .fight-list {
    width: 70%;
    margin: auto;
  }
}
