@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background;
  color: $dark;
  line-height: 1.5;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 1.5rem;
}

.dark-mode {
  background: $dark;
}

a,
a:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}

.heading {
  color: $primary-color;
  font-weight: 900;
  font-family: "Special Elite", cursive;
}

.sub-heading {
  color: $secondary-color;
}

@import "./header";
@import "./eventsList";
@import "./eventDetails";
@import "./fighterDetails";
@import "./fighterHistory";
