$light: #fff;
$dark: #000;
$primary-color: #e0777d;
$secondary-color: #7ea16b;
$text-color: #fff;
$primary-color-dark: #028090;
$secondary-color-dark: #00a896;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 1.5rem;

  background-color: $light;
  color: $light;
  transition: ease-out all 0.3s;
}

.dark-mode {
  background-color: $dark;
}

.heading {
  color: $primary-color;
  font-weight: 900;
  font-family: "Special Elite", cursive;
}

.sub-heading {
  color: $secondary-color;
}

@import "./activateDarkMode";
@import "./header";
@import "./eventsList";
@import "./eventDetails";
@import "./fighterDetails";
@import "./fighterHistory";
