@import "./variables";
@import "./header";
@import "./eventsCard";

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
}
