* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.heading {
  color: #e0777d;
  font-weight: 900;
}

.sub-heading {
  color: #7ea16b;
}

.header {
  border-bottom: solid 2px #e0777d;
}

.header .text-color {
  color: #e0777d;
}

.event-card {
  border-radius: 50px;
  background-color: #e0777d;
  color: #fff;
  display: block;
  text-transform: uppercase;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.32, -0.27, 0, 3.19);
          transition-timing-function: cubic-bezier(0.32, -0.27, 0, 3.19);
}

.event-card .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-card .event-fighter-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-details {
  margin: 0;
  padding: 0;
  background-color: #e0777d;
}

.event-details .details-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.event-details .details-card .fight-list {
  border-bottom: #e0777d 2px solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-details .details-card .fight-list .fighters-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#fighter-details .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fighter-details .fighter-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fighter-details .list-group-item {
  text-transform: uppercase;
  border: none;
  border-bottom: solid 2px #e0777d;
  border-radius: 15px;
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */