* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 1.5rem;
  background-color: #fff;
  color: #fff;
  -webkit-transition: ease-out all 0.3s;
  transition: ease-out all 0.3s;
}

.dark-mode {
  background-color: #000;
}

.heading {
  color: #e0777d;
  font-weight: 900;
  font-family: "Special Elite", cursive;
}

.sub-heading {
  color: #7ea16b;
}

.dark-mode-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e0777d;
}

.dark-mode-icon i {
  cursor: pointer;
}

.dark-mode-icon .light-sun {
  display: none;
}

.active-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.active-dark .light-sun {
  display: block;
}

.active-dark .dark-moon {
  display: none;
}

.header {
  border-bottom: solid 2px #e0777d;
  margin-right: 0;
}

.header .text-color {
  color: #e0777d;
}

.header .text-color:hover {
  color: #fff;
}

.header .text-color h3 {
  font-family: "Permanent Marker", sans-serif;
}

.header .text-color h3:hover {
  color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

.event-list {
  list-style: none;
  margin: auto;
}

.event-list .event-card {
  border-radius: 50px;
  background-color: #e0777d;
  color: #fff;
  display: block;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.32, -0.27, 0, 3.19);
          transition-timing-function: cubic-bezier(0.32, -0.27, 0, 3.19);
}

.event-list .event-card .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.event-list .event-card .bounce-in {
  text-transform: lowercase;
}

.event-list .event-card .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-list .event-card .event-fighter-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: normal;
}

@media screen and (min-width: 768px) {
  .event-list {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .event-list {
    margin: auto;
    width: 50%;
  }
}

.event-details {
  margin: 0;
  padding: 0;
}

.event-details .details-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-details .details-card .fight-list {
  border-bottom: #e0777d 2px solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-details .details-card .fight-list .fighters-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #e0777d;
}

#fighter-details .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fighter-details .fighter-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fighter-details .list-group-item {
  text-transform: uppercase;
  border: none;
  border-bottom: solid 2px #e0777d;
  border-radius: 15px;
  font-size: 0.8rem;
}

#fighter-history .fight-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#fighter-history .result-opponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fighter-history .result-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #7ea16b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */