.event-card {
  border: groove 5px $primary-color;
  border-radius: 10%;
  margin: 1rem;
  padding: 1rem;
  position: absolute;
  width: 80%;

  flex-direction: column;
  .row {
    justify-content: center;
  }
}
