@import "./variables";

body {
  background: url("https://media.istockphoto.com/vectors/grunge-background-texture-vector-id642952704");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

@import "./header";
@import "./eventCard";
